{% extends 'base.html' %}
{% block title %}
    Creare Alerta
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adauga Alerta</button>
    </form>
{% endblock %}