{% extends 'base.html' %}
{% block title %}
    Delete Category!
{% endblock %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    <p>Esti sigur ca vrei sa stergi masina: {{ masina.marca }} {{ masina.model }}?</p>
    <br>
    <button type="submit">~Sigur~</button>
    </form>
{% endblock %}