{% extends 'base.html' %}

{% block title %}
    Add New Category!
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
            {{ form.as_p }}
        <button><a href="">Adauga o specificatie</a></button>
        <button type="reset">Renunta</button>
        <button type="submit">Salvea si inchide</button>
    </form>
{% endblock %}