{% extends 'base.html' %}
{% block title %}
    Adaugati masina noua
{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Salvare masina!
        </button>
    </form>
{% endblock %}