{% extends 'base.html' %}

{% block title %}
    This is the title
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Nr
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Model
                </th>
                <th>
                    Sofer
                </th>
                <th>
                    Setari Masina
                </th>
            </tr>
        </thead>
        <tbody>
            {% for masina in toate_masinile %}
                <tr>
                    <th>
                        {{ masina.id }}
                    </th>
                    <th>
                        {{ masina.marca }}
                    </th>
                    <th>
                        {{ masina.model }}
                    </th>
                    <th>
                        {{ masina.nume_sofer }}
                    </th>
                    <th>
                        <button><a href="{% url 'masini_update' masina.id %}">Editeaza</a></button>
                        <button><a href="{% url 'masini_delete' masina.id %}">Sterge Masina</a></button>
                    </th>
                </tr>
            {% endfor %}
            <h2>CONTACT SI DETALII</h2>
        </tbody>
    </table>

    <button> <a href="{% url 'masini_create' %}">Adauga Masina</a></button>
    <button href="">Vizualizare rapoarte</button>
    <button href="">Inapoi</button>
    <button><a href="{% url 'alerte_create' %}">Alerte</a></button>
    <button><a href="">Acte Auto</a></button>
{% endblock %}